<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <style>
        h1{ text-align: center }
    .c{
    border: 2px solid #333;
    background: #ffffff;
    }
    .qq{
        display: block;
        color: black;
    }
    body{
        padding-left: 100px;
        padding-right: 100px;
    }
    p{
        font-size: 50px;
        text-align: center;
        font-weight:bold;
    }
    </style>
</head>
<p> 数式計算サイト</p>
<div class="c">
    <h1><a style="text-decoration:none;" href="http://127.0.0.1:8000/sinsuu" class="qq">進数変換サイト</a></h1>
</div>
<h1></h1>
<div class="c">
    <h1><a style="text-decoration:none;" href="http://127.0.0.1:8000/insuu" class="qq">因数分解サイト</a></h1>
</div>
<h1></h1>
<div class="c">
    <h1><a style="text-decoration:none;" href="http://127.0.0.1:8000/houtei1" class="qq">一次方程式サイト</a></h1>
</div>
<h1></h1>
<div class="c">
    <h1><a style="text-decoration:none;" href="http://127.0.0.1:8000/houtei2" class="qq">二次方程式サイト</a></h1>
</div>
<h1></h1>
<div class="c">
    <h1><a style="text-decoration:none;" href="http://127.0.0.1:8000/renritu" class="qq">連立方程式サイト</a></h1>
</div>
</html>